html {
    height: 100%;
}
 body{
     display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      
  }
 .main{
     height: 100%;

 }
  .left{
      float: left;
      height: 100%;
      width: 50%;
      background-color: rgb(205, 228, 143);

  }
  .right{
       float: right;
       height: 100%;
       width: 50%;
       background-color: rgb(3, 9, 94);

  }
 